[submodule "esp32-rotary-encoder"]
	path = components/esp32-rotary-encoder
	url = https://github.com/fherrera124/esp32-rotary-encoder.git
[submodule "button"]
	path = components/button
	url = https://github.com/fherrera124/button.git
[submodule "components/u8g2-hal-esp-idf"]
	path = components/u8g2-hal-esp-idf
	url = https://github.com/fherrera124/u8g2-hal-esp-idf
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2
